<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="catalinc.games.pong">
    <application android:label="Pong"
                 android:hardwareAccelerated="true"
                 android:icon="@drawable/ic_launcher">
        <activity android:name="catalinc.games.pong.Pong"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:screenOrientation="landscape"
                  android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest> 
